@import "./variables";
@import "./resets";

// Button start

.btn {
  // border-radius: 20px;
  // font-size: 1.4rem;
  font-weight: 700;
  padding: 0.7rem 1.5rem;
  // text-align: center;
  transition: all 0.3s;
  vertical-align: middle;
  &--outline {
    outline: 2px solid $primary-color;
    color: $primary-color;
    &:hover {
      background-color: $primary-color;
      color: #ffffff;
    }
    &-white {
      outline: 2px solid #fff;
      color: #fff;
      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }
  &--primary {
    background: $primary-color;
    color: #ededed;

    &:hover {
      background: #0163c4;
      color: #ffffff;
    }
  }
  &--white {
    background-color: #ffffff;
    color: #0000009e;
    &:hover {
      background-color: #f6f6f6;
      color: #000;
    }
  }
  @include ipad-version() {
    padding: 0.5rem 2rem;
    font-size: 1.6rem;
  }
}

// Button end
// grid start

// .grid {
//   display: grid;
//   gap: 1rem;
//   margin: 1rem 0;
//   @include ipad-version() {
//     &--1x2 {
//       grid-template-columns: repeat(2, 1fr);
//       grid-template-rows: 1fr;
//     }
//   }
//   @include laptop-version() {
//     &--1x5 {
//       grid-template-columns: repeat(5, 1fr);
//       grid-template-rows: 1fr;
//     }
//   }
// }

// grid end
// promotions start

.promo {
  box-shadow: 0 0 30px #00000012;
  // position: relative;
  // &__banner img {
  //   width: 100%;
  // }
  &--header-watch::before,
  &--header-mac::before,
  &--header-ipad::before {
    content: "";
    display: block;
    height: 45px;
    overflow: hidden;
  }
  &--header-watch::before {
    background-color: #000;
  }
  &--header-mac::before {
    background-color: #f5f5f7;
  }
  &--header-ipad::before {
    background-color: #fbfbfd;
  }
  // &--text-white {
  //   color: #fff;
  // }
  // &__link {
  //   bottom: 0;
  //   height: 100%;
  //   left: 0;
  //   position: absolute;
  //   width: 100%;
  // }
  // &--content {
  //   display: flex;
  //   justify-content: center;
  // }
  &__content--bottom {
  //   bottom: 0;
  //   padding: 2rem;
  //   position: absolute;
  //   text-align: center;
    z-index: 999;
  }

  // &__content--top {
  //   padding: 2rem;
  //   position: absolute;
  //   text-align: center;
  //   top: 0;
  // }
}
// promotions end
// collapsible satrt

.collapsible {
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    transition: all 0.4s;
    transform: rotate(0);
  }
  &__content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s;
  }

  @include standard-version() {
    &__icon {
      display: none;
    }
  }
  &--expanded {
    .collapsible__icon {
      transform: rotate(90deg);
      color: $primary-color;
    }
    .collapsible__content {
      max-height: 100vh;
      opacity: 1;
    }
  }
}

// collapsible end
//Carousel promo start

.promo {
  // &-content--satrt {
  //   @include ipad-version() {
  //     justify-content: start;
  //   }
  // }
  // &-bottom--flex {
  //   @include ipad-version() {
  //     display: flex;
  //     justify-content: space-around;
  //   }
  // }
  &__text {
    max-width: 230px;
    // font-size: 1.6rem;
  }
  &-btn {
    &--order {
      order: 1;
    }
  }
  &-heading--order {
    order: 2;
    // margin: 0 1rem;
  }
  &-text--order {
    order: 2;
    // margin-left: 0;
  }
  &-heading--white {
    // color: #fff;
    text-shadow: 0 0 10px #000000cb;
  }
  &-heading--black {
    color: #000;
    text-shadow: 0 0 10px #ffffffce;
  }
  &-text--white {
    color: #e7e7e7;
  }
}
//Carousel promo end
// marquee promo start

.marquee {
  &__container {
    animation: marquee 4s ease-in-out 0s infinite alternate;
    // display: flex;
    height: 100px;
  }
  &__img {
    // margin-right: 2rem;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.131);
    // & > img {
    //   width: 100%;
    // }
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  25% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(10%);
  }
  75% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}

// marquee promo end
// navbar start

// .navbar {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   padding: 0.2rem 1rem;
//   text-align: center;
//   vertical-align: middle;
//   &__list {
//     width: 100%;
//     a {
//       &:hover {
//         color: rgb(0, 0, 0);
//       }
//     }
//   }
//   @include standard-version() {
//     &__icon {
//       display: none;
//     }
//     &__list {
//       display: flex;
//       flex-grow: 0.9;
//       font-size: 1.3rem;
//       justify-content: space-between;
//       max-height: 100vh;
//       opacity: 1;
//       width: auto;
//     }
//   }
// }
// .collapsible--expanded {
//   .navbar__icon {
//     // opacity: 1;
//     // box-shadow: 0 0 30px #9d9d9d5a;
//     display: none;
//   }
//   .navbar-icon--container {
//     content: "f654";
//     display: block;
//   }
// }

// navbar end
// block start

// .block {
//   &--container {
//     @include laptop-version() {
//       max-width: 1024px;
//       margin: 0 auto;
//     }
//   }
//   // &--fullscreen {
//   //   padding: 2rem 0;
//   // }
// }

// block end
// footer start

.footer {
  // padding: 2rem;
  background-color: #f5f5f7;
  margin-top: 200px;
  &__para,
  &__bottom {
    font-size: 1.3rem;
    color: #000000a0;
    a {
      color: blue;
      transition: all 0.3s;
      &:hover {
        color: dodgerblue;
        text-decoration: underline;
      }
    }
  }
  &__main {
    border-top: 1px solid #0000002e;
    // padding-top: 3rem;
    // padding-bottom: 2rem;
    // margin-top: 3rem;
  }
  &--collapsible {
    // padding-bottom: 1rem;
    // padding-top: 0.5rem;
    border-bottom: 1px solid #0000002e;
  }
  &__heading {
    // font-size: 1.5rem;
    color: #000000b6;
  }
  &__list {
    font-size: 1.2rem;
    // margin-top: 1.5rem;
    // li {
    //   margin-bottom: 0.5rem;
    // }
    a:hover {
      color: #000;
      text-decoration: underline;
    }
  }
  .collapsible__icon {
    display: inline-block;
  }
  &__copyright {
    border-top: 1px solid #0000002e;
    // display: flex;
    // justify-content: space-between;
    // padding-top: 2rem;
    // margin-top: 2rem;
  }
}
@include laptop-version() {
  .footer--collapsible {
    border: none;
  }
  .footer__content {
    max-height: 100vh;
    opacity: 1;
  }
  .footer {
    .collapsible__icon {
      display: none;
    }
  }
}

// footer end
// header block start

.header {
  background-color: #ffffffd4;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px #0000001f;
  // position: sticky;
  // top: 0;
  // z-index: 9999;
}

// header block end
// hero block start

// .hero {
//   padding-top: 0;
// }

// hero block end
