@import "/node_modules/normalize.css/normalize.css";
@import "./variables";
@import "./resets";

// Button start

.btn {
  font-weight: 700;
  padding: 0.7rem 1.5rem;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.4rem;
  &--outline {
    outline: 2px solid $primary-color;
    color: $primary-color;
  }
  &--primary {
    background: $primary-color;
    color: #ffffff;
  }
  @include standard-version() {
    padding: 1rem 2rem;
    font-size: 1.7rem;
  }
}

// Button end
// module start

// module end
// grid start

.grid {
  display: grid;
  gap: 1rem;
  margin: 1rem 0;
  @include standard-version() {
    &--1x2 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }
  }
  @include laptop-version() {
    &--1x5 {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
    }
  }
}

// grid end
