<section class="block--fullscreen">
  <div class="promo">
    <!-- promo banner satrt -->

    <div class="promo__banner">
      <picture>
        <source
          media="(max-width: 900px)"
          srcset="./public/images/promo_iphone15pro__e48p7n5x3nsm_small.jpg"
        />

        <source
          media="(min-width:900px)"
          srcset="./public/images/promo_iphone15pro__e48p7n5x3nsm_large.jpg"
        />
        <img
          src="./public/images/promo_iphone15pro__e48p7n5x3nsm_small.jpg"
          alt="Vision pro product"
        />
      </picture>
    </div>

    <!-- promo banner end -->

    <!-- promo link satrt -->

    <a href="https://www.apple.com/apple-vision-pro/" class="promo__link"
      >&nbsp;</a
    >

    <!-- promo link end -->

    <!-- promo content to make it in the center of the img -->

    <div class="promo--content">
      <div class="promo__content--top">
        <!-- heading satrt -->

        <h3 class="promo__heading promo-heading--white">
          <!-- vision pro img heading satrt  -->

          iPhone 15 Pro

          <!--  vision pro img heading end  -->
        </h3>

        <!-- heading end -->

        <!-- heading text satrt -->

        <p class="promo__text promo-text--white">
          Titanium. So strong. So light. SoPro.
        </p>

        <!-- heading text end -->

        <!-- Button start -->

        <div class="promo-btn__container">
          <a
            href="https://www.apple.com/apple-vision-pro/"
            class="btn btn--primary promo__btn"
            >Learn more</a
          >
          <a
            href="https://www.apple.com/shop/buy-vision/apple-vision-pro"
            class="btn btn--outline promo__btn"
            >Buy</a
          >
        </div>

        <!-- Button end -->
      </div>
    </div>
  </div>
</section>
