<section class="block--fullscreen hero">
  <div class="promo">
    <!-- promo banner satrt -->

    <div class="promo__banner">
      <picture>
        <source
          media="(max-width: 800px)"
          srcset="./public/images/hero_md24__e3yulubypvki_mediumtall.jpg"
        />
        <source
          media="(min-width: 900px) and (max-width:1250px)"
          srcset="./public/images/hero_md24__e3yulubypvki_medium.jpg"
        />
        <source
          media="(min-width:1250px)"
          srcset="./public/images/hero_md24__e3yulubypvki_large.jpg"
        />
        <img
          src="./public/images/hero_md24__e3yulubypvki_mediumtall.jpg"
          alt="Vision pro product"
        />
      </picture>
    </div>

    <!-- promo banner end -->

    <!-- promo link satrt -->

    <a href="https://www.apple.com/apple-vision-pro/" class="promo__link"
      >&nbsp;</a
    >

    <!-- promo link end -->

    <!-- promo content to make it in the center of the img -->

    <div class="promo--content">
      <div class="promo__content--bottom">
        <!-- heading satrt -->

        <h3 class="promo__heading">
          <!-- vision pro img heading satrt  -->

          Mother's Day

          <!--  vision pro img heading end  -->
        </h3>

        <!-- heading end -->

        <!-- heading text satrt -->

        <p class="promo__text">Find the perfect gift for Mom</p>

        <!-- heading text end -->

        <!-- Button start -->

        <div class="promo-btn__container">
          <a
            href="https://www.apple.com/apple-vision-pro/"
            class="btn btn--primary promo__btn"
            >Shop</a
          >
        </div>

        <!-- Button end -->
      </div>
    </div>
  </div>
</section>
