<section class="grid grid--1x2">
  <!-- vision promotions start -->

  <div class="promo">
    <!-- promo banner satrt -->

    <div class="promo__banner promo--header-mac">
      <picture>
        <source
          media="(max-width: 800px)"
          srcset="./public/images/promo_apple_vision_pro_small.jpg"
        />
        <source
          media="(min-width: 800px) and (max-width:1024px)"
          srcset="./public/images/promo_apple_vision_pro__medium.jpg"
        />
        <source
          media="(min-width:1024px)"
          srcset="./public/images/promo_apple_vision_pro_large.jpg"
        />
        <img
          src="./public/images/promo_apple_vision_pro_small.jpg"
          alt="Vision pro product"
        />
      </picture>
    </div>

    <!-- promo banner end -->

    <!-- promo link satrt -->

    <a href="https://www.apple.com/apple-vision-pro/" class="promo__link"
      >&nbsp;</a
    >

    <!-- promo link end -->

    <!-- promo content to make it in the center of the img -->

    <div class="promo--content">
      <div class="promo__content--bottom">
        <!-- heading satrt -->

        <h3 class="promo__heading">
          <!-- vision pro img heading satrt  -->

          <picture>
            <source
              media="(max-width: 800px)"
              srcset="./public/icons/promo_logo_apple_vision_pro_small.png"
            />
            <source
              media="(min-width: 800px) and (max-width:1024px)"
              srcset="./public/icons/promo_logo_apple_vision_pro_medium.png"
            />
            <source
              media="(min-width:1024px)"
              srcset="./public/icons/promo_logo_apple_vision_pro_large.png"
            />
            <img
              src="./public/icons/promo_logo_apple_vision_pro_small.png"
              alt="Vision pro product"
            />
          </picture>

          <!--  vision pro img heading end  -->
        </h3>

        <!-- heading end -->

        <!-- heading text satrt -->

        <p class="promo__text">Welcome to the era of spatial computing.</p>

        <!-- heading text end -->

        <!-- Button start -->

        <div class="promo-btn__container">
          <a
            href="https://www.apple.com/apple-vision-pro/"
            class="btn btn--primary promo__btn"
            >Learn more</a
          >
          <a
            href="https://www.apple.com/shop/buy-vision/apple-vision-pro"
            class="btn btn--outline promo__btn"
            >Buy</a
          >
        </div>

        <!-- Button end -->
      </div>
    </div>
  </div>

  <!-- vision promotions end -->

  <!-- MacBook Air promotion start -->

  <div class="promo">
    <!-- macbook air  promotion banner start -->
    <div class="promo__banner promo--header-mac">
      <!-- banner img media start -->
      <picture>
        <source
          media="(max-width: 800px)"
          srcset="./public/images/promo_macbook_air_m3_small.jpg"
        />
        <source
          media="(min-width: 800px) and (max-width:1024px)"
          srcset="./public/images/promo_macbook_air_m3_medium.jpg"
        />
        <source
          media="(min-width:1024px)"
          srcset="./public/images/promo_macbook_air_m3_large.jpg"
        />
        <img
          src="./public/images/promo_macbook_air_m3_small.jpg"
          alt="Vision pro product"
        />
      </picture>
      <!-- banner img media end -->
    </div>

    <!-- macbook air promotion banner end -->

    <!-- macbook link start -->

    <a href="https://www.apple.com/macbook-air/" class="promo__link">&nbsp;</a>
    <!-- macbook link end -->

    <!-- macbook promo content to make it in the center of the img -->

    <div class="promo--content">
      <!-- the content in sthe top -->
      <div class="promo__content--top">
        <!-- heading satrt -->
        <h3 class="promo__heading">MacBook Air</h3>
        <!-- heading end -->
        <!-- heading text satrt -->
        <p class="promo__text">Lean. Mean. M3 machine.</p>
        <!-- heading text end -->

        <!-- Button start -->
        <div class="promo-btn__container">
          <a
            href="https://www.apple.com/macbook-air/"
            class="btn btn--primary promo__btn"
            >Learn more</a
          >
          <a
            href="https://www.apple.com/shop/buy-mac/macbook-air"
            class="btn btn--outline promo__btn"
            >Buy</a
          >
        </div>
        <!-- Button end -->
      </div>
    </div>
  </div>

  <!-- MacBook Air promotion end -->
</section>
