<section class="block--fullscreen">
  <div
    id="carouselExampleAutoplaying"
    class="block--carousel carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="promo">
          <!-- promo banner satrt -->

          <div class="promo__banner">
            <picture>
              <source
                media="(max-width: 800px)"
                srcset="./public/images/promo_macbook_air_m3_small.jpg"
              />
              <source
                media="(min-width: 800px) and (max-width:900px)"
                srcset="./public/images/promo_macbook_air_m3_medium.jpg"
              />
              <source
                media="(min-width:900px)"
                srcset="./public/images/promo_macbook_air_m3_large.jpg"
              />
              <img
                src="./public/images/promo_macbook_air_m3_small.jpg"
                alt="Vision pro product"
                class="d-block w-100"
              />
            </picture>
          </div>

          <!-- promo banner end -->

          <!-- promo link satrt -->

          <a
            href="https://www.apple.com/apple-vision-pro/"
            class="promo__link promo-link--hover"
            >&nbsp;</a
          >

          <!-- promo link end -->

          <!-- promo content to make it in the center of the img -->

          <div class="promo--content promo-content--satrt">
            <div class="promo__content--bottom promo-bottom--flex">
              <!-- heading satrt -->

              <h3
                class="promo__heading promo-heading--order promo-heading--black"
              >
                <!--  heading satrt  -->
                MacBook
                <!--  heading end  -->
              </h3>

              <!-- heading end -->

              <!-- heading text satrt -->

              <p class="promo__text promo-text--order">
                Welcome to the era of spatial computing.
              </p>

              <!-- heading text end -->

              <!-- Button start -->

              <div class="promo-btn__container promo-btn--order">
                <a
                  href="https://www.apple.com/apple-vision-pro/"
                  class="btn btn--white promo__btn"
                  >Buy now</a
                >
              </div>

              <!-- Button end -->
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="promo">
          <!-- promo banner satrt -->

          <div class="promo__banner">
            <picture>
              <source
                media="(max-width: 800px)"
                srcset="./public/images/promo_ipad__fioegapg12qi_small.jpg"
              />
              <source
                media="(min-width: 800px) and (max-width:1024px)"
                srcset="./public/images/promo_ipad__fioegapg12qi_medium.jpg"
              />
              <source
                media="(min-width:1024px)"
                srcset="./public/images/promo_ipad__fioegapg12qi_large.jpg"
              />
              <img
                src="./public/images/promo_ipad__fioegapg12qi_small.jpg"
                alt="Vision pro product"
                class="d-block w-100"
              />
            </picture>
          </div>

          <!-- promo banner end -->

          <!-- promo link satrt -->

          <a
            href="https://www.apple.com/apple-vision-pro/"
            class="promo__link promo-link--hover"
            >&nbsp;</a
          >

          <!-- promo link end -->

          <!-- promo content to make it in the center of the img -->

          <div class="promo--content promo-content--satrt">
            <div class="promo__content--bottom promo-bottom--flex">
              <!-- heading satrt -->

              <h3
                class="promo__heading promo-heading--order promo-heading--black"
              >
                <!--  heading satrt  -->
                iPad
                <!--  heading end  -->
              </h3>

              <!-- heading end -->

              <!-- heading text satrt -->

              <p class="promo__text promo-text--order">
                Welcome to the era of spatial computing.
              </p>

              <!-- heading text end -->

              <!-- Button start -->

              <div class="promo-btn__container promo-btn--order">
                <a
                  href="https://www.apple.com/apple-vision-pro/"
                  class="btn btn--white promo__btn"
                  >Buy now</a
                >
              </div>

              <!-- Button end -->
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="promo">
          <!-- promo banner satrt -->

          <div class="promo__banner">
            <picture>
              <source
                media="(max-width: 800px)"
                srcset="
                  ./public/images/promo_apple_watch_series_9_order_small.jpg
                "
              />
              <source
                media="(min-width: 800px) and (max-width:1024px)"
                srcset="
                  ./public/images/promo_apple_watch_series_9_order_medium.jpg
                "
              />
              <source
                media="(min-width:1024px)"
                srcset="
                  ./public/images/promo_apple_watch_series_9_order_large.jpg
                "
              />
              <img
                src="./public/images/promo_apple_watch_series_9_order_small.jpg"
                alt="Vision pro product"
                class="d-block w-100"
              />
            </picture>
          </div>

          <!-- promo banner end -->

          <!-- promo link satrt -->

          <a
            href="https://www.apple.com/apple-vision-pro/"
            class="promo__link promo-link--hover"
            >&nbsp;</a
          >

          <!-- promo link end -->

          <!-- promo content to make it in the center of the img -->

          <div class="promo--content promo-content--satrt">
            <div class="promo__content--bottom promo-bottom--flex">
              <!-- heading satrt -->

              <h3
                class="promo__heading promo-heading--order promo-heading--white"
              >
                <!--  heading satrt  -->
                Watch serias 9
                <!--  heading end  -->
              </h3>

              <!-- heading end -->

              <!-- heading text satrt -->

              <p class="promo__text promo-text--order promo-text--white">
                Welcome to the era of spatial computing.
              </p>

              <!-- heading text end -->

              <!-- Button start -->

              <div class="promo-btn__container promo-btn--order">
                <a
                  href="https://www.apple.com/apple-vision-pro/"
                  class="btn btn--white promo__btn"
                  >Buy now</a
                >
              </div>

              <!-- Button end -->
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="promo">
          <!-- promo banner satrt -->

          <div class="promo__banner">
            <picture>
              <source
                media="(max-width: 800px)"
                srcset="./public/images/tile__cauwwcyyn9hy_small.jpg"
              />
              <source
                media="(min-width: 800px) and (max-width:1024px)"
                srcset="./public/images/tile__cauwwcyyn9hy_medium.jpg"
              />
              <source
                media="(min-width:1024px)"
                srcset="./public/images/tile__cauwwcyyn9hy_large.jpg"
              />
              <img
                src="./public/images/tile__cauwwcyyn9hy_small.jpg"
                alt="Vision pro product"
                class="d-block w-100"
              />
            </picture>
          </div>

          <!-- promo banner end -->

          <!-- promo link satrt -->

          <a
            href="https://www.apple.com/apple-vision-pro/"
            class="promo__link promo-link--hover"
            >&nbsp;</a
          >

          <!-- promo link end -->

          <!-- promo content to make it in the center of the img -->

          <div class="promo--content promo-content--satrt">
            <div class="promo__content--bottom promo-bottom--flex">
              <!-- heading satrt -->

              <h3
                class="promo__heading promo-heading--order promo-heading--black"
              >
                <!--  heading satrt  -->
                Card
                <!--  heading end  -->
              </h3>

              <!-- heading end -->

              <!-- heading text satrt -->

              <p class="promo__text promo-text--order">
                Welcome to the era of spatial computing.
              </p>

              <!-- heading text end -->

              <!-- Button start -->

              <div class="promo-btn__container promo-btn--order">
                <a
                  href="https://www.apple.com/apple-vision-pro/"
                  class="btn btn--white promo__btn"
                  >Buy now</a
                >
              </div>

              <!-- Button end -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
