<header class="header">
  <nav class="block--container collapsible navbar">
    <a href="#">
      <span class="fa-brands fa-apple fa-fade fa-xl navbar__brand"></span>
    </a>
    <span class="fa-solid fa-bars fa-beat fa-xl navbar__icon"></span>

    <ul class="collapsible__content navbar__list">
      <li><a href="#">Store</a></li>
      <li><a href="#">Mac</a></li>
      <li><a href="#">iPad</a></li>
      <li><a href="#">iPhone</a></li>
      <li><a href="#">Watch</a></li>
      <li><a href="#">Vision</a></li>
      <li><a href="#">AirPods</a></li>
      <li><a href="#">TV & Home</a></li>
      <li><a href="#">Entertainment</a></li>
      <li><a href="#">Accessories</a></li>
      <li><a href="#">Support</a></li>
      <li>
        <a href="#"><span class="fa-solid fa-magnifying-glass"></span></a>
      </li>
      <li>
        <a href="#"><span class="fa-solid fa-bag-shopping"></span></a>
      </li>
    </ul>
  </nav>
</header>
