<section class="block grid grid--1x2">
  <!-- card promotion start -->

  <div class="promo">
    <!-- card  promotion banner start -->
    <div class="promo__banner promo--header-ipad">
      <!-- banner img media start -->
      <picture>
        <source
          media="(max-width: 800px)"
          srcset="./public/images/tile__cauwwcyyn9hy_small.jpg"
        />
        <source
          media="(min-width: 800px) and (max-width:1024px)"
          srcset="./public/images/tile__cauwwcyyn9hy_medium.jpg"
        />
        <source
          media="(min-width:1024px)"
          srcset="./public/images/tile__cauwwcyyn9hy_large.jpg"
        />
        <img
          src="./public/images/tile__cauwwcyyn9hy_small.jpg"
          alt="Card product"
        />
      </picture>
      <!-- banner img media end -->
    </div>

    <!-- card promotion banner end -->

    <!-- card link start -->

    <a href="https://www.apple.com/apple-card/" class="promo__link">&nbsp;</a>
    <!-- cardlink end -->

    <!-- card promo content to make it in the center of the img -->

    <div class="promo--content">
      <!-- the content in sthe top -->
      <div class="promo__content--top">
        <!-- heading satrt -->
        <h3 class="promo__heading">
          <!-- an img media heading start -->
          <picture>
            <source
              media="(max-width: 800px)"
              srcset="./public/icons/logo__dcojfwkzna2q_small.png"
            />
            <source
              media="(min-width: 800px) and (max-width:1024px)"
              srcset="./public/icons/logo__dcojfwkzna2q_medium.png"
            />
            <source
              media="(min-width:1024px)"
              srcset="./public/icons/logo__dcojfwkzna2q_large.png"
            />
            <img
              src="./public/icons/logo__dcojfwkzna2q_small.png"
              alt="Card logo pro product"
            />
          </picture>
          <!-- an img media heading end -->
        </h3>
        <!-- heading end -->
        <!-- heading text satrt -->
        <p class="promo__text">
          Get up to 3% Daily Cash back with every purchase.
        </p>
        <!-- heading text end -->

        <!-- Button start -->
        <div class="promo-btn__container">
          <a
            href="https://www.apple.com/apple-card/"
            class="btn btn--primary promo__btn"
            >Learn more</a
          >
          <a
            href="https://card.apple.com/apply/application?referrer=cid%3Dapy-200-10000036&start=false"
            class="btn btn--outline promo__btn"
            >Apply now</a
          >
        </div>
        <!-- Button end -->
      </div>
    </div>
  </div>

  <!-- card promotion end -->

  <!-- Trade In promotion start -->

  <div class="promo">
    <!-- Trade In  promotion banner start -->
    <div class="promo__banner promo--header-ipad">
      <!-- banner img media start -->
      <picture>
        <source
          media="(max-width: 800px)"
          srcset="./public/images/promo_iphone_tradein__bugw15ka691e_small.jpg"
        />
        <source
          media="(min-width: 800px) and (max-width:1024px)"
          srcset="./public/images/promo_iphone_tradein__bugw15ka691e_medium.jpg"
        />
        <source
          media="(min-width:1024px)"
          srcset="./public/images/promo_iphone_tradein__bugw15ka691e_large.jpg"
        />
        <img
          src="./public/images/promo_iphone_tradein__bugw15ka691e_small.jpg"
          alt="Trade In product"
        />
      </picture>
      <!-- banner img media end -->
    </div>

    <!-- Trade In promotion banner end -->

    <!-- Trade In link start -->

    <a href="https://www.apple.com/shop/trade-in" class="promo__link">&nbsp;</a>
    <!-- Trade Inlink end -->

    <!-- Trade In promo content to make it in the center of the img -->

    <div class="promo--content">
      <!-- the content in sthe top -->
      <div class="promo__content--top">
        <!-- heading satrt -->
        <h3 class="promo__heading">
          <!-- an img media heading start -->
          <picture>
            <source
              media="(max-width: 800px)"
              srcset="./public/icons/logo_tradein__d1fpktgipvki_small.png"
            />
            <source
              media="(min-width: 800px) and (max-width:1024px)"
              srcset="./public/icons/logo_tradein__d1fpktgipvki_medium.png"
            />
            <source
              media="(min-width:1024px)"
              srcset="./public/icons/logo_tradein__d1fpktgipvki_large.png"
            />
            <img
              src="./public/icons/logo_tradein__d1fpktgipvki_small.png"
              alt="Trade In logo pro product"
            />
          </picture>
          <!-- an img media heading end -->
        </h3>
        <!-- heading end -->
        <!-- heading text satrt -->
        <p class="promo__text">
          Get $170-$630 in credit when you trade in iPhone 11 or higher.
        </p>
        <!-- heading text end -->

        <!-- Button start -->
        <div class="promo-btn__container">
          <a
            href="https://www.apple.com/shop/trade-in"
            class="btn btn--primary promo__btn"
            >Get your estimate</a
          >
        </div>
        <!-- Button end -->
      </div>
    </div>
  </div>

  <!-- Trade In promotion end -->
</section>
