<!-- collapsible satrt -->

<div class="collapsible">
  <div class="collapsible__header">
    <h3 class="collapsible__heading">Item 1</h3>
    <div>
      <span
        class="fa-solid fa-circle-chevron-right fa-2xl collapsible__icon"
      ></span>
    </div>
  </div>
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
      excepturi in reprehenderit facere animi deleniti aut quis. Deleniti
      voluptate, aliquid sed adipisci, nihil eligendi provident officia odio
      nisi et quia.
    </p>
  </div>
</div>

<!-- collapsible end -->
