<div class="marquee">
  <div class="marquee__container">
    <div class="marquee__img">
      <img src="./public/images/promo_apple_vision_pro_small.jpg" alt="" />
    </div>
    <div class="marquee__img">
      <img
        src="./public/images/promo_apple_watch_series_9_order_small.jpg"
        alt=""
      />
    </div>
    <div class="marquee__img">
      <img src="./public/images/promo_ipad__fioegapg12qi_small.jpg" alt="" />
    </div>
    <div class="marquee__img">
      <img
        src="./public/images/promo_iphone_tradein__bugw15ka691e_small.jpg"
        alt=""
      />
    </div>
  </div>
</div>
