<!-- vision promotions start -->

<div class="promo">
  <!-- promo banner satrt -->

  <div class="promo__banner">
    <picture>
      <source
        media="(max-width: 800px)"
        srcset="./public/images/promo_apple_vision_pro_small.jpg"
      />
      <source
        media="(min-width: 800px) and (max-width:1024px)"
        srcset="./public/images/promo_apple_vision_pro__medium.jpg"
      />
      <source
        media="(min-width:1024px)"
        srcset="./public/images/promo_apple_vision_pro_large.jpg"
      />
      <img
        src="./public/images/promo_apple_vision_pro_small.jpg"
        alt="Vision pro product"
      />
    </picture>
  </div>

  <!-- promo banner end -->

  <!-- promo link satrt -->

  <a href="https://www.apple.com/apple-vision-pro/" class="promo__link"
    >&nbsp;</a
  >

  <!-- promo link end -->

  <!-- promo content to make it in the center of the img -->

  <div class="promo--content">
    <div class="promo__content--bottom">
      <!-- heading satrt -->

      <h3 class="promo__heading">
        <!-- vision pro img heading satrt  -->

        <picture>
          <source
            media="(max-width: 800px)"
            srcset="./public/icons/promo_logo_apple_vision_pro_small.png"
          />
          <source
            media="(min-width: 800px) and (max-width:1024px)"
            srcset="./public/icons/promo_logo_apple_vision_pro_medium.png"
          />
          <source
            media="(min-width:1024px)"
            srcset="./public/icons/promo_logo_apple_vision_pro_large.png"
          />
          <img
            src="./public/icons/promo_logo_apple_vision_pro_small.png"
            alt="Vision pro product"
          />
        </picture>

        <!--  vision pro img heading end  -->
      </h3>

      <!-- heading end -->

      <!-- heading text satrt -->

      <p class="promo__text">Welcome to the era of spatial computing.</p>

      <!-- heading text end -->

      <!-- Button start -->

      <div class="promo-btn__container">
        <a
          href="https://www.apple.com/apple-vision-pro/"
          class="btn btn--primary promo__btn"
          >Learn more</a
        >
        <a
          href="https://www.apple.com/shop/buy-vision/apple-vision-pro"
          class="btn btn--outline promo__btn"
          >Buy</a
        >
      </div>

      <!-- Button end -->
    </div>
  </div>
</div>

<!-- vision promotions end -->

<!-- MacBook Air promotion start -->

<div class="promo">
  <!-- macbook air  promotion banner start -->
  <div class="promo__banner promo--header-mac">
    <!-- banner img media start -->
    <picture>
      <source
        media="(max-width: 800px)"
        srcset="./public/images/promo_macbook_air_m3_small.jpg"
      />
      <source
        media="(min-width: 800px) and (max-width:1024px)"
        srcset="./public/images/promo_macbook_air_m3_medium.jpg"
      />
      <source
        media="(min-width:1024px)"
        srcset="./public/images/promo_macbook_air_m3_large.jpg"
      />
      <img
        src="./public/images/promo_macbook_air_m3_small.jpg"
        alt="Vision pro product"
      />
    </picture>
    <!-- banner img media end -->
  </div>

  <!-- macbook air promotion banner end -->

  <!-- macbook link start -->

  <a href="https://www.apple.com/macbook-air/" class="promo__link">&nbsp;</a>
  <!-- macbook link end -->

  <!-- macbook promo content to make it in the center of the img -->

  <div class="promo--content">
    <!-- the content in sthe top -->
    <div class="promo__content--top">
      <!-- heading satrt -->
      <h3 class="promo__heading">MacBook Air</h3>
      <!-- heading end -->
      <!-- heading text satrt -->
      <p class="promo__text">Lean. Mean. M3 machine.</p>
      <!-- heading text end -->

      <!-- Button start -->
      <div class="promo-btn__container">
        <a
          href="https://www.apple.com/macbook-air/"
          class="btn btn--primary promo__btn"
          >Learn more</a
        >
        <a
          href="https://www.apple.com/shop/buy-mac/macbook-air"
          class="btn btn--outline promo__btn"
          >Buy</a
        >
      </div>
      <!-- Button end -->
    </div>
  </div>
</div>

<!-- MacBook Air promotion end -->

<!-- watch promotion start -->

<div class="promo">
  <!-- watch promotion banner start -->

  <div class="promo__banner promo--header-watch">
    <!-- media img banner start -->

    <picture>
      <source
        media="(max-width: 800px)"
        srcset="./public/images/promo_apple_watch_series_9_order_small.jpg"
      />
      <source
        media="(min-width: 800px) and (max-width:1024px)"
        srcset="./public/images/promo_apple_watch_series_9_order_medium.jpg"
      />
      <source
        media="(min-width:1024px)"
        srcset="./public/images/promo_apple_watch_series_9_order_large.jpg"
      />
      <img
        src="./public/images/promo_apple_watch_series_9_order_small.jpg"
        alt="Vision pro product"
      />
    </picture>

    <!-- media img banner end -->
  </div>

  <!-- watch promotion banner end -->

  <!-- watch link satrt -->

  <a href="https://www.apple.com/apple-watch-series-9/" class="promo__link"
    >&nbsp;</a
  >

  <!-- watch link end -->

  <!-- promo content to make it in the center of the img -->

  <div class="promo--content">
    <!-- the content in the top -->

    <div class="promo__content--top">
      <!-- heading satrt -->

      <h3 class="promo__heading">
        <!-- an img media heading start -->

        <picture>
          <source
            media="(max-width: 800px)"
            srcset="./public/icons/promo_logo_apple_watch_series_9_small.png"
          />
          <source
            media="(min-width: 800px) and (max-width:1024px)"
            srcset="./public/icons/promo_logo_apple_watch_series_9_medium.png"
          />
          <source
            media="(min-width:1024px)"
            srcset="./public/icons/promo_logo_apple_watch_series_9_large.png"
          />
          <img
            src="./public/icons/promo_logo_apple_watch_series_9_small.png"
            alt="Vision pro product"
          />
        </picture>

        <!-- an img media heading end -->
      </h3>

      <!-- heading end -->

      <!-- heading text satrt -->

      <p class="promo__text promo--text-white">Smarter. Brighter. Mightier.</p>

      <!-- heading text end -->

      <!-- Button start -->

      <div class="promo-btn__container">
        <a href="#" class="btn btn--primary promo__btn">Learn more</a>
        <a href="#" class="btn btn--outline promo__btn">Buy</a>
      </div>

      <!-- Button end -->
    </div>
  </div>
</div>

<!-- watch promotion end -->

<!-- iPad promotion start -->

<div class="promo">
  <!-- iPad  promotion banner start -->
  <div class="promo__banner promo--header-ipad">
    <!-- banner img media start -->
    <picture>
      <source
        media="(max-width: 800px)"
        srcset="./public/images/promo_ipad__fioegapg12qi_small.jpg"
      />
      <source
        media="(min-width: 800px) and (max-width:1024px)"
        srcset="./public/images/promo_ipad__fioegapg12qi_medium.jpg"
      />
      <source
        media="(min-width:1024px)"
        srcset="./public/images/promo_ipad__fioegapg12qi_large.jpg"
      />
      <img
        src="./public/images/promo_macbook_air_m3_small.jpg"
        alt="Vision pro product"
      />
    </picture>
    <!-- banner img media end -->
  </div>

  <!-- iPad promotion banner end -->

  <!-- iPad link start -->

  <a href="https://www.apple.com/ipad-10.9/" class="promo__link">&nbsp;</a>
  <!-- iPad link end -->

  <!-- iPad promo content to make it in the center of the img -->

  <div class="promo--content">
    <!-- the content in sthe top -->
    <div class="promo__content--top">
      <!-- heading satrt -->
      <h3 class="promo__heading">iPad</h3>
      <!-- heading end -->
      <!-- heading text satrt -->
      <p class="promo__text">Lovable. Drawable. Magical.</p>
      <!-- heading text end -->

      <!-- Button start -->
      <div class="promo-btn__container">
        <a
          href="https://www.apple.com/ipad-10.9/"
          class="btn btn--primary promo__btn"
          >Learn more</a
        >
        <a
          href="https://www.apple.com/shop/buy-ipad/ipad"
          class="btn btn--outline promo__btn"
          >Buy</a
        >
      </div>
      <!-- Button end -->
    </div>
  </div>
</div>

<!-- iPad promotion end -->

<!-- card promotion start -->

<div class="promo">
  <!-- card  promotion banner start -->
  <div class="promo__banner promo--header-ipad">
    <!-- banner img media start -->
    <picture>
      <source
        media="(max-width: 800px)"
        srcset="./public/images/tile__cauwwcyyn9hy_small.jpg"
      />
      <source
        media="(min-width: 800px) and (max-width:1024px)"
        srcset="./public/images/tile__cauwwcyyn9hy_medium.jpg"
      />
      <source
        media="(min-width:1024px)"
        srcset="./public/images/tile__cauwwcyyn9hy_large.jpg"
      />
      <img
        src="./public/images/tile__cauwwcyyn9hy_small.jpg"
        alt="Card product"
      />
    </picture>
    <!-- banner img media end -->
  </div>

  <!-- card promotion banner end -->

  <!-- card link start -->

  <a href="https://www.apple.com/apple-card/" class="promo__link">&nbsp;</a>
  <!-- cardlink end -->

  <!-- card promo content to make it in the center of the img -->

  <div class="promo--content">
    <!-- the content in sthe top -->
    <div class="promo__content--top">
      <!-- heading satrt -->
      <h3 class="promo__heading">
        <!-- an img media heading start -->
        <picture>
          <source
            media="(max-width: 800px)"
            srcset="./public/icons/logo__dcojfwkzna2q_small.png"
          />
          <source
            media="(min-width: 800px) and (max-width:1024px)"
            srcset="./public/icons/logo__dcojfwkzna2q_medium.png"
          />
          <source
            media="(min-width:1024px)"
            srcset="./public/icons/logo__dcojfwkzna2q_large.png"
          />
          <img
            src="./public/icons/logo__dcojfwkzna2q_small.png"
            alt="Card logo pro product"
          />
        </picture>
        <!-- an img media heading end -->
      </h3>
      <!-- heading end -->
      <!-- heading text satrt -->
      <p class="promo__text">
        Get up to 3% Daily Cash back with every purchase.
      </p>
      <!-- heading text end -->

      <!-- Button start -->
      <div class="promo-btn__container">
        <a
          href="https://www.apple.com/apple-card/"
          class="btn btn--primary promo__btn"
          >Learn more</a
        >
        <a
          href="https://card.apple.com/apply/application?referrer=cid%3Dapy-200-10000036&start=false"
          class="btn btn--outline promo__btn"
          >Apply now</a
        >
      </div>
      <!-- Button end -->
    </div>
  </div>
</div>

<!-- card promotion end -->

<!-- Trade In promotion start -->

<div class="promo">
  <!-- Trade In  promotion banner start -->
  <div class="promo__banner promo--header-ipad">
    <!-- banner img media start -->
    <picture>
      <source
        media="(max-width: 800px)"
        srcset="./public/images/promo_iphone_tradein__bugw15ka691e_small.jpg"
      />
      <source
        media="(min-width: 800px) and (max-width:1024px)"
        srcset="./public/images/promo_iphone_tradein__bugw15ka691e_medium.jpg"
      />
      <source
        media="(min-width:1024px)"
        srcset="./public/images/promo_iphone_tradein__bugw15ka691e_large.jpg"
      />
      <img
        src="./public/images/promo_iphone_tradein__bugw15ka691e_small.jpg"
        alt="Trade In product"
      />
    </picture>
    <!-- banner img media end -->
  </div>

  <!-- Trade In promotion banner end -->

  <!-- Trade In link start -->

  <a href="https://www.apple.com/shop/trade-in" class="promo__link">&nbsp;</a>
  <!-- Trade Inlink end -->

  <!-- Trade In promo content to make it in the center of the img -->

  <div class="promo--content">
    <!-- the content in sthe top -->
    <div class="promo__content--top">
      <!-- heading satrt -->
      <h3 class="promo__heading">
        <!-- an img media heading start -->
        <picture>
          <source
            media="(max-width: 800px)"
            srcset="./public/icons/logo_tradein__d1fpktgipvki_small.png"
          />
          <source
            media="(min-width: 800px) and (max-width:1024px)"
            srcset="./public/icons/logo_tradein__d1fpktgipvki_medium.png"
          />
          <source
            media="(min-width:1024px)"
            srcset="./public/icons/logo_tradein__d1fpktgipvki_large.png"
          />
          <img
            src="./public/icons/logo_tradein__d1fpktgipvki_small.png"
            alt="Trade In logo pro product"
          />
        </picture>
        <!-- an img media heading end -->
      </h3>
      <!-- heading end -->
      <!-- heading text satrt -->
      <p class="promo__text">
        Get $170-$630 in credit when you trade in iPhone 11 or higher.
      </p>
      <!-- heading text end -->

      <!-- Button start -->
      <div class="promo-btn__container">
        <a
          href="https://www.apple.com/shop/trade-in"
          class="btn btn--primary promo__btn"
          >Get your estimate</a
        >
      </div>
      <!-- Button end -->
    </div>
  </div>
</div>

<!-- Trade In promotion end -->
