@import "/node_modules/normalize.css/normalize.css";
.flex--center-W-H {
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

span {
  display: inline-block;
}

html {
  font-size: 62.5%;
}

body {
  font-family: intel, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(40, 40, 42);
  font-size: 1.9rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: rgb(29, 29, 31);
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 3.2rem;
}

@media screen and (min-width: 820px) {
  body {
    font-size: 2.4rem;
  }
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 5rem;
  }
}
.btn {
  font-weight: 700;
  padding: 0.7rem 1.5rem;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.4rem;
  transition: all 0.3s;
}
.btn--outline {
  outline: 2px solid #0077ed;
  color: #0077ed;
}
.btn--outline:hover {
  background-color: #0077ed;
  color: #ffffff;
}
.btn--primary {
  background: #0077ed;
  color: #ededed;
}
.btn--primary:hover {
  background: #0163c4;
  color: #ffffff;
}
.btn--white {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.6196078431);
}
.btn--white:hover {
  background-color: #f6f6f6;
  color: #000;
}
@media screen and (min-width: 768px) {
  .btn {
    padding: 1rem 2rem;
    font-size: 1.7rem;
  }
}

.grid {
  display: grid;
  gap: 1rem;
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x5 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
  }
}

.promo {
  position: relative;
}
.promo__banner img {
  width: 100%;
}
.promo--header-watch::before, .promo--header-mac::before, .promo--header-ipad::before {
  content: "";
  display: block;
  overflow: hidden;
  height: 45px;
}
.promo--header-watch::before {
  background-color: #000;
}
.promo--header-mac::before {
  background-color: #f5f5f7;
}
.promo--header-ipad::before {
  background-color: #fbfbfd;
}
.promo--text-white {
  color: #fff;
}
.promo__link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.promo--content {
  display: flex;
  justify-content: center;
}
.promo__content--bottom {
  position: absolute;
  text-align: center;
  bottom: 0;
  padding: 3rem;
  z-index: 999;
}
.promo__content--top {
  position: absolute;
  text-align: center;
  top: 0;
  padding: 2rem;
}

.collapsible__header {
  display: flex;
  justify-content: space-between;
}
.collapsible__icon {
  transition: all 0.4s;
  transform: rotate(0);
}
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}
@media screen and (min-width: 820px) {
  .collapsible__icon {
    display: none;
  }
}
.collapsible--expanded .collapsible__icon {
  transform: rotate(90deg);
  color: #0077ed;
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .promo-content--satrt {
    justify-content: start;
  }
}
@media screen and (min-width: 768px) {
  .promo-bottom--flex {
    display: flex;
    justify-content: space-around;
  }
}
.promo__text {
  max-width: 230px;
}
.promo-btn--order {
  order: 1;
}
.promo-heading--order {
  order: 2;
  margin: 0 1rem;
}
.promo-text--order {
  order: 2;
  margin-left: 0;
}
.promo-heading--white {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7960784314);
}
.promo-heading--black {
  color: #000;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8078431373);
}
.promo-text--white {
  color: #e7e7e7;
}

.marquee__container {
  height: 100px;
  display: flex;
  animation: marquee 4s ease-in-out 0s infinite alternate;
}
.marquee__img {
  margin-right: 2rem;
}
.marquee__img > img {
  width: 100%;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(10%);
  }
  75% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  text-align: center;
  vertical-align: middle;
}
.navbar__list {
  width: 100%;
}
.navbar__list a:hover {
  color: dodgerblue;
}
@media screen and (min-width: 820px) {
  .navbar__icon {
    display: none;
  }
  .navbar__list {
    opacity: 1;
    max-height: 100vh;
    width: auto;
    display: flex;
    flex-grow: 0.9;
    justify-content: space-between;
    font-size: 1.3rem;
  }
}

.collapsible--expanded .navbar__icon {
  opacity: 1;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.6941176471);
}

.block {
  padding: 2rem;
}
@media screen and (min-width: 1024px) {
  .block--container {
    max-width: 1024px;
    margin: 0 auto;
  }
}
.block--fullscreen {
  padding: 2rem 0;
}

.footer__para, .footer__bottom {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.6274509804);
}
.footer__main {
  border-top: 1px solid rgba(0, 0, 0, 0.1803921569);
}
.footer--collapsible {
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1803921569);
}
.footer__heading {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.7137254902);
}
.footer__list {
  font-size: 1.3rem;
  margin-top: 1.5rem;
}
.footer__list li {
  margin-bottom: 1rem;
}
.footer .collapsible__icon {
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .footer--collapsible {
    border: none;
  }
  .fotter__content {
    max-height: 100vh;
    opacity: 1;
  }
  .footer .collapsible__icon {
    display: none;
  }
}
.header {
  background-color: rgba(221, 221, 221, 0.3843137255);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}/*# sourceMappingURL=style.css.map */